<launch>
  <!-- Load map file -->
  <arg name="map_file" default="$(find dmap_localization)/maps/simple_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run the DMAP localizer node -->
  <node name="dmap_localizer" pkg="dmap_localization" type="dmap_localizer" output="screen">
    <remap from="scan" to="/scan"/>
    <remap from="map" to="/map"/>
    <remap from="initialpose" to="/initialpose"/>
    
    <!-- Parameters -->
    <param name="map_frame_id" value="map"/>
    <param name="dmap_threshold" value="0.8"/>
    <param name="icp_max_iterations" value="50"/>
    <param name="icp_transformation_epsilon" value="1e-8"/>
    <param name="icp_max_correspondence_distance" value="0.05"/>
  </node>

  <!-- Run RViz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dmap_localization)/rviz/dmap_localization.rviz" />
  
  <param name="/use_sim_time" value="false"/>

  <!-- Optional: Run a node to publish simulated odometry if not using a real robot -->
  <node name="fake_odom" pkg="fake_localization" type="fake_localization" output="screen">
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
  </node> 
</launch>

