<launch>
    <!-- Teleoperation node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen">
        <remap from="cmd_vel" to="/cmd_vel"/>
    </node>

    <!-- Static transform from map to odom -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />

    <!-- Static transform from base_footprint to base_link -->
    <!-- Assuming base_footprint is at z=0 and base_link is at the center height of the robot, z=0.25/2 = 0.125 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link"
        args="0 0 0.250 0 0 0 base_footprint base_link" />

    <!-- Map server node -->
    <arg name="map_file" default="$(find dmap_localization)/maps/simple_map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- Stage simulator node -->
    <arg name="world_file" default="$(find dmap_localization)/worlds/myworld.world"/>
    <node name="stageros" pkg="stage_ros" type="stageros" args="$(arg world_file)">
        <remap from="base_scan" to="scan"/>
    </node>

    <!-- DMap Localizer node -->
    <node name="dmap_localizer" pkg="dmap_localization" type="dmap_localizer" output="screen" />
    
    <!-- RViz visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dmap_localization)/config/dmap_localization.rviz" />
</launch>
